﻿<form action="~/Convert" method="get">
    <input type="text" name="url" value="" placeholder="URL" />
    <input type="submit" value="Submit" />
</form>

<hr />

<form action="~/Convert/FromHtml" method="post">
    <textarea name="html"></textarea>
    <input type="text" name="filename" placeholder="Filename"/>

    <input type="submit" value="Submit" />
</form>
